altgraph==0.17
asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.1
blis==0.4.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
chatbot==1.5.2b0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.3
cymem==2.0.3
Django==3.1.1
docopt==0.6.2
en==0.0.1
en-core-web-sm==2.3.1
Flask==1.1.2
future==0.18.2
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
idna==2.10
isort==5.5.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
Js2Py==0.70
lazy-object-proxy==1.5.1
MarkupSafe==1.1.1
mathparse==0.1.2
mccabe==0.6.1
murmurhash==1.0.2
nltk==3.5
numpy==1.19.1
packaging==20.4
pefile==2019.4.18
Pint==0.14
pipwin==0.5.0
plac==1.1.3
playsound==1.2.2
preshed==3.0.2
pt-core-news-md==2.3.0
pygame==1.9.6
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyjsparser==2.7.1
pylint==2.5.3
pyparsing==2.4.7
PyPrind==2.11.2
PySide2==5.15.0
pySmartDL==1.3.3
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==3.13
regex==2020.7.14
requests==2.24.0
shiboken2==5.15.0
six==1.15.0
soupsieve==2.0.1
spacy==2.3.2
SpeechRecognition==3.8.1
SQLAlchemy==1.3.18
sqlparse==0.3.1
srsly==1.0.2
thinc==7.4.1
toml==0.10.1
tqdm==4.48.2
tzlocal==2.1
urllib3==1.25.10
wasabi==0.7.1
Werkzeug==1.0.1
wrapt==1.12.1
